<p>Websocket open: {{websocketopen}}</p>
<input [formControl]="controlId" placeholder="UserId" type="text">

<button (click)="openWebSocket()">Open websocket</button>
<p>RTC open: {{RTCopen}}</p>
<input [formControl]="controlTargetId" placeholder="To who" type="text">
<button (click)="openRTC()">Send offer for the RTC</button>

<p>Received from other client: {{messagesReceived.length}} </p>
<ul *ngIf="messagesReceived.length">
	<li *ngFor="let message of messagesReceived">{{message}}</li>
</ul>
<hr>

<input [formControl]="control" placeholder="Send to other client" type="text">
<button (click)="sendMessage()">Send</button>